<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>devicePublicKeyProduction</key>
	<string></string>
	<key>devicePublicKeyDevelopment</key>
	<string>-----BEGIN%20PUBLIC%20KEY-----%0AMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAta6rACLhMTSBcixmPBUM%0AH5xQgHqmj6n8FQ77CBhzbmalg6fUnbTKXNXx0OJjv%2FaokO16z6Sh1rlVTVBj9sqI%0ATjuVnWn1VjORjbITF1bfF1IiACTPzhYMBAbbCxLHHR4XysM7YN52E%2FMgjMojr4OQ%0AZa9Z%2BW2PXE0Ut7Qq8zIMoTW7x5XQ5RFyLsoUUDvVc6sM08zX3M5tKRmwTxIYjiaF%0An12dqqioxnp8W6cih%2FGUiusJSEkjKj6uo0Dv9xsx3UFYifB8bCVja6zgak6uNQXJ%0Ax8wm6GzH%2FvsYyTRd8ayqiP5yrGKUqUWQEWGWMnvnYxR2UBkoIzjz3Q5gYLGpmsCR%0A3wIDAQAB%0A-----END%20PUBLIC%20KEY-----</string>
</dict>
</plist>
