<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Nextcloud</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>it.twsweb.Nextcloud</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nextcloud</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<true/>
	<key>ITSEncryptionExportComplianceCode</key>
	<string>3b2bb0b1-fa12-43cb-a78f-0f7e1afd33df</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Camera access is required to scan documents and make photo and video.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Face ID is required to authenticate using face recognition.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>GPS is used to detect new photos from camera roll, continued use of GPS running in the background can dramatically decrease battery life.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>GPS is used to detect new photos from camera roll, continued use of GPS running in the background can dramatically decrease battery life.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>GPS is used to detect new photos from camera roll on background, the use of GPS only when the App is in use is useless.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Microphone access is required to create voice notes.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Photo library access is required to upload your photos and videos to your cloud.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photo library access is required to upload your photos and videos to your cloud.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
