# file

#########################################################################
#                                                                       #
#       Title         - .gitignore file                                 #
#       For           - iOS - Xcode8                                    #
#                                                                       #
#########################################################################

############ Various settings ############
*.xcodeproj
!Nextcloud.xcodeproj
xcuserdata/
.DS_Store
.AppleDouble
.LSOverride
UserInterfaceState.xcuserstate
README.md
Documentation/
Custom/
GoogleService-Info.plist
DevicePushKey-Info.plist
iOSClient/Brand/Device*
