# file

#########################################################################
#                                                                       #
#       Title         - .gitignore file                                 #
#       For           - iOS - Xcode8                                    #
#                                                                       #
#########################################################################

## Nextcloud
*.xcodeproj
!Nextcloud.xcodeproj
README.md
Documentation/
Custom/
GoogleService-Info.plist
DevicePushKey-Info.plist
iOSClient/Brand/Device*

## OS X files
.DS_Store
.DS_Store?
.Trashes

## Xcode build files
DerivedData/
build/

## Xcode private settings
xcuserdata/
