github "tilltue/TLPhotoPicker" "2.1.4"
github "kishikawakatsumi/UICKeyChainStore"
github "WenchaoD/FSCalendar" "2.8.0"
github "FabrizioBrancati/Queuer"
github "xmartlabs/XLForm" ~> 4.1
github "AssistoLab/DropDown" "v2.3.13"

github "https://github.com/marinofaggiana/KTVHTTPCache" "2.0.2"
github "https://github.com/marinofaggiana/TOPasscodeViewController" "0.0.10"
github "https://github.com/marinofaggiana/OpenSSL" "master"
github "https://github.com/marinofaggiana/ChromaColorPicker" "master"