github "nextcloud/ios-communication-library" "develop"
github "tilltue/TLPhotoPicker" "2.0.11"
github "kishikawakatsumi/UICKeyChainStore" "v2.1.2"
github "MortimerGoro/MGSwipeTableCell" "1.6.8"
github "dzenbot/DZNEmptyDataSet" "v1.8.1"
github "jdg/MBProgressHUD" "1.1.0"
github "realm/realm-cocoa" "v4.4.1"
github "SVGKit/SVGKit" "3.x"
github "WeTransfer/WeScan" "1.2.0"
github "malcommac/SwiftRichString"
github "yannickl/QRCodeReader.swift" "10.1.1"
github "weichsel/ZIPFoundation" "0.9.10"
github "rechsteiner/Parchment" "v1.7.0"
github "WenchaoD/FSCalendar" "2.8.0"
github "AssistoLab/DropDown" "v2.3.13"
github "krzyzanowskim/OpenSSL" "1.0.218"
github "huri000/SwiftEntryKit" "1.2.3"
github "scenee/FloatingPanel"
github "ivanbruel/MarkdownKit"
github "getsentry/sentry-cocoa" "5.0.4"
github "https://github.com/marinofaggiana/AFNetworking" "master"
github "https://github.com/marinofaggiana/KTVHTTPCache" "2.0.2"
github "https://github.com/marinofaggiana/XLForm" "master"
github "https://github.com/marinofaggiana/TOPasscodeViewController" "0.0.6"
