<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>devicePublicKeyDevelopment</key>
	<string>-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAta6rACLhMTSBcixmPBUM
H5xQgHqmj6n8FQ77CBhzbmalg6fUnbTKXNXx0OJjv/aokO16z6Sh1rlVTVBj9sqI
TjuVnWn1VjORjbITF1bfF1IiACTPzhYMBAbbCxLHHR4XysM7YN52E/MgjMojr4OQ
Za9Z+W2PXE0Ut7Qq8zIMoTW7x5XQ5RFyLsoUUDvVc6sM08zX3M5tKRmwTxIYjiaF
n12dqqioxnp8W6cih/GUiusJSEkjKj6uo0Dv9xsx3UFYifB8bCVja6zgak6uNQXJ
x8wm6GzH/vsYyTRd8ayqiP5yrGKUqUWQEWGWMnvnYxR2UBkoIzjz3Q5gYLGpmsCR
3wIDAQAB
-----END PUBLIC KEY-----</string>
	<key>devicePublicKeyProduction</key>
	<string></string>
</dict>
</plist>
