<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string></string>
	<key>model</key>
	<string></string>
	<key>icon</key>
	<string></string>
	<key>namecurrentdevice</key>
	<string></string>
	<key>uuid</key>
	<string></string>
	<key>version</key>
	<string></string>
	<key>title</key>
	<string></string>
	<key>field</key>
	<dict/>
</dict>
</plist>
