<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Nextcloud.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Picker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PickerFileProvider.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Share Ext Nextcloud.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0842141C1E646E0200C8F4F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08DC3BEA1E647FD200F036D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08DC3C391E647FD700F036D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08DC3C4B1E6482BF00F036D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F70A86341C6E02C800D16351</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F70AB6BF1E6DA8F9001383BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F70EBC921A68288A00E347EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F71459B41D12E3B700CAFEEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F72E44391A68236900B712E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F74344111E1264ED001CC831</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F743441F1E1264EE001CC831</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F75A11FF1D11957800740EFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F76E61301C7E012A00280BEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F77B0DEB1D118A16002130FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F78BFCED1C889F7100C15565</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F79D72CA1C7DF61000415B8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7BE1B2A1E6601D600D28C82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7C0F46B1C8880540059EC54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7CE5DB01E65BCD90086C9EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7CE5E0E1E65BDD40086C9EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7DDE5491A52E010006D4122</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7E456561C89D49500BD63F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7F67BA71A24D27800EE80DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7F67BC01A24D27800EE80DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
