#OS noise
[Tt]humbs.db
*.DS_Store
*~
*.swp
*.out
*.bak*

#Other CSM
.hg
.svn
CVS

#Xcode noise
*.log
*~.nib
*.moved-aside
Example/*.xcodeproj/*
!Example/*.xcodeproj/project.pbxproj
Example/*.xcworkspace/*
!Example/*.xcworkspace/contents.xcworkspacedata

#Project files
[Bb]uild/
DerivedData/

Carthage

#CocoaPods
Example/Pods/*.xcodeproj/*
!Example/Pods/*.xcodeproj/project.pbxproj

!xcshareddata
*.xccheckout
